# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]
socket=/tmp/mysql.sock
port=3306

# This group is read by the server
[mysqld]
bind-address=172.18.0.2

# Directory where to find the mysqld binary from
basedir=/usr

# Directory where you want to put your data
datadir=/var/lib/mysql

# Enable logging by default to help find problems
general-log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
